@use "sass:map";
@import "../../assets/styles/variables.scss";

.error {
    text-align: center;

    h1 {
        margin-top: 2vh;
        @include fluidFontSize(148px, 208px, 480px, 1280px, 18px);
    }

    h3 {
        @include fluidFontSize(50px, 72px, 480px, 1280px, 18px);
    }
}
